<div class="container">
  <div>
    <h2>Hire me</h2>
    <hr>
  </div>
  <br>
  <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12" role="main">
        <h3 id="objective">Carrier Objective</h3>
        <p>I want to work in a challenging work environment, 
          where I can utilize my expertise in technical skills and contributing
           to growth of the organization.</p>

       
        <h3 id="skill">Technical Skills</h3>
        <ul>
          <li>Client Side Technologies    :    HTML5, CSS3, JavaScript, jQuery, Bootstrap and Angular 2,4,5.</li>
          <li>Server Side Technologies    :    Java, Php, Node JS.</li>
          <li>Database                    :    My SQL.</li>
          <li>Web Server                  :    Apache Tomcat.</li>
          <li>IDE                         :    Sublime 3, Eclipse, VS Code</li>
          <li>Highlight                   :    AJAX, JSON, XML and RESTful API’s.</li>
          <li>Other Tools                 :    Photoshop.</li>
          <li>Operating System            :    Windows andLinux.</li>
        </ul>
       
        <h3 id="project">Projects</h3>
        <h4>Live Project:</h4>
        <p>This is Angular based project where used library angular 2,4 and 5 
          that is going to live, In which using REST API (Open Weather Api’s). 
          This Proposed application show the city wise weather as well as 
          5 day/ 3 hour weather according to city. Working with JSON and XML data.</p>  
          <p>I have done following things in this project:</p>
            <ul>
              <li>Page Routing.</li>
              <li>Using reusable services.</li>
              <li>This website is responsive, in which used bootstrap.</li>
              <li>Get data from weather api and local storage.</li>
              <li>Deploy on git server as well as using git(Version Control).</li>
            </ul>
           
            <h4>MCA Project:</h4>
            <p>I completed my project on ‘Social Site’ for Quant Technologies from Hyderabad.
               In which project I used to Servlet, JSP and Client site technologies are
                HTML5, CSS3, JavaScript, Bootstrap, AJAX, JSON   and I used Oracle for database.</p>      
            <p>I have done following things in this project:</p>
            <ul>
              <li>Work with Object.</li>
              <li>Work at Security aspect and Session.</li>
              <li>Designing interfaces for web-based applications.</li>
              <li>Using Social login and News feed.</li>
            </ul>
              
            <h4>BCA Project:</h4>
            <p>I completed my project on ‘Online Test’ for Girguit soft from Hyderabad.
               In which project I used to ASP.NET and I used MS-SQL for database.</p>  
            <p>I have done following things in this project:</p>
            <ul>
              <li>Work with Object.</li>
              <li>Work at Security aspect and Session.</li>
              <li>Designing interfaces for web-based applications.</li>
              <li>Using Google API, Social login and News feed.</li>
            </ul>

        <h3 id="quatification">Educational Qualification</h3>
        <div class="table-responsive">
        <table class="table">
          <thead>
            <th>Course</th>
            <th>University/ Board Name</th>
            <th>Name of Collage/ school</th>
            <th>Percentage</th>
            <th>Year</th>
          </thead>
          <tbody>
            <tr><td>MCA</td><td>Pt. Ravishankar Shukla University, Raipur (C.G)</td><td>School of Studies in Computer Science & I.T., Raipur</td><td>71.09%</td><td>2017</td></tr>
            <tr><td>BCA</td><td>Dr. C.V. Raman University, Bilaspur (C.G.)</td><td>Dr. C.V. Raman University, Bilaspur </td><td>70.2%</td><td>2014</td></tr>
            <tr><td>12th</td><td>Chhattisgarh Board of Secondary Education, Raipur</td><td>Govt. H. S. School Umreli (Korba) </td><td>52.8%</td><td>2011</td></tr>
            <tr><td>10th</td><td>Chhattisgarh Board of Secondary Education, Raipur</td><td>Govt. H. S. School Umreli (Korba) </td><td>63.5%</td><td>2009</td></tr>
          </tbody>
        </table>
        </div>

        <h3 id="profeciancy">Lingustic Profeciancy/ Hobbies</h3>
        <ul>
          <li>Language       :      English, Hindi.</li>
          <li>Hobbies        :     Singing, Eating Samosa.</li>
        </ul>

        <h3 id="personal">Personal Snippets</h3>
        <ul>
            <li>NAME                :      Umesh Kumar</li>
            <li>FATHER’S NAME       :      SHRI Sona Ram</li>
            <li>DATE OF BIRTH       :      Oct 5, 1993</li>
            <li>CURRENT ADDRESS     :      Siri PG for gents, #1 Near Water Tank, BTM Layout Bangalore 
                Pin code- 560029.</li>
            <li>PERMANENT ADDRESS   :      At post Umreli, Dist- Korba, Chhattisgarh, Pin code- 495671.</li>
          </ul>         
      </div>
  </div>
</div>
