<div class="container">
  <h1 class="text-center">Weather Forecasting</h1>
  <hr><br>
  <div class="row">
    <form [formGroup]="form" (ngSubmit)="searchCity(form.value)">
      <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
        <input type="search" name="cityname" class="form-control col-lg-4 input-lg"
        placeholder="Search city around world" formControlName="cityname">
      </div>
      <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
        <input type="submit" value="Search" class="btn btn-primary form-control input-lg">
      </div>
    </form>
  </div>
  <br>
  <span class="error">{{msg}}</span>
  <br>
  <div *ngFor="let item of cityData;">
    <p (click)="onSelect(item)" title="Click to get Weather">
       {{item.name+", ["+item.sys.country+"]  lon: "+item.coord.lon+", lat: "+item.coord.lat}}</p>
  </div>       
  <br>

  <table datatable dt-instance="dtInstance" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" border="1" class="table table-hover table-condensed">
    <thead>
    <tr>
      <th>#</th>
      <th>City</th>
      <th>Weather</th>
      <th>Humidity</th>
      <th>Pressure</th>
      <th>Temp</th>
      <th>Next 5 Days</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of cityWeather; let i = index" title="Click to get next 5 day weather">
      <td>{{ i + 1 }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.weather[0].description }}</td>
      <td>{{ item.main.humidity }}</td>
      <td>{{ item.main.pressure }}</td>
      <td>{{ item.main.temp }}</td>
      <td> <button (click)="getFiveDayWeather(item.id)" class="btn btn-info">Get weather</button> </td>
    </tr>
    </tbody>
  </table>
</div>

