<div class="container">
  <h1 class="text-center">Weather Forecasting</h1>
  <hr><br>
<div class="row">
  <form [formGroup]="form" (ngSubmit)="searchCity(form.value)"  >
  <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
    <input type="search" name="cityname" class="form-control col-lg-4 input-lg"
    placeholder="Search city" formControlName="cityname">
   </div>
  <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
    <input type="submit" value="Search" class="btn btn-primary form-control input-lg">
  </div>
  </form>
</div>
<br>
<span class="error">{{msg}}</span>
<br>
<div *ngFor="let item of cityData;">
  <p (click)="onSelect(item)" title="Click to get Weather">
    {{item.name+", ["+item.sys.country+"]  lon: "+item.coord.lon+", lat: "+item.coord.lat}}</p>
</div>       
<br>
<table border="1" class="table table-hover table-condensed">
  <thead ><!--table head-->
  <tr>
    <th>City</th>
    <th>Weather</th>
    <th>Humidity</th>
    <th>Pressure</th>
    <th>Temp</th>
  </tr>
  </thead>
  <tbody *ngFor="let item of detail1"><!--table body with parent record-->
    <tr id="slidetoggle" title="Click to get next 5 day weather"><td>{{item.name}}</td><td>{{item.weather[0].description}}</td><td>{{item.main.humidity}}</td><td>{{item.main.pressure}}</td><td>{{item.main.temp}}</td></tr>
    <!--child record-->
    <tr class="header tPanel"><td colspan="5" style="text-align:center; font-weight:700;">{{item.name+" "}}Day Wise Weather Report</td></tr>
    <tr class="tPanel"><th>Date</th><th>Weather</th><th>Temporature</th><th>Min_temp</th><th>Pressure</th></tr>
    <tr id="tData" *ngFor="let items of detail2">
      <td>{{items.dt_txt}}</td><td>{{items.weather["0"].description}}</td><td>{{items.main.temp}}</td><td>{{items.main.temp_min}}</td><td>{{items.main.pressure}}</td>
    </tr><!--/child record-->
    </tbody>
</table>
</div>

