 .error{
   color:red;
 }
.tPanel {
  /* display: none; */
  background-color:yellowgreen;
}
#getData {
  cursor:pointer;
}
#tData {
  /* display: none; */
  background-color: yellow;
}
#tData:hover {
  background-color: rgb(201, 195, 195)
}
p {
  border: 2px solid gray;
  background-color: white;
  padding: 15px 15px;
  margin: 5px 5px;
  cursor: pointer; 
  float: left;
  font-weight: 600;   
}
p:hover {
  border-color:black; 
}
table{
     border-color: 2px solid black
}