<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/weather" routerLinkActive="active">Weather forecasting</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
       <li><a routerLink="/about" routerLinkActive="active">About Us</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="container-fluid bg-4 text-center"> 
  <span class="f1">Find me!</span><br>
  <span class="f1">+91 84638-40280</span><br>
  <span class="f1">umesh132200@gmail.com</span><br>
  <span><a href="" target="_blank" class="fab fa-facebook-square fa-2x"></a></span>
  <span><a href="" target="_blank" class="fab fa-github-square fa-2x"></a></span>
  <span><a href="" target="_blank" class="fab fa-twitter-square fa-2x"></a></span>
  <span><a href="" target="_blank" class="fab fa-linkedin fa-2x"></a></span>
  <br>
  <span>Developed and Maintaining by</span>
  <a href="https://www.linkedin.com/in/umesh-kumar-7659669a/" target="_blank" class="myname">Umesh Kumar</a>
   
</footer>
