h1 {
  color:black;
}
.bg-4 { 
  background-color: #2f2f2f; /* Black Gray */
  color: rgb(243, 243, 243);
}
.container-fluid {
  padding-top: 40px;
  padding-bottom: 40px;
}
.fab {
  color: rgb(153, 151, 151);
  text-decoration: none;
}
.fab:hover {
  color: rgb(219, 215, 215);
}
.myname {
  color:white;
  text-decoration: none;
}
.myname:hover {
  text-decoration: underline;
}
.scrolltop {
  display:none;
  width:100%;
  margin:0 auto;
  position:fixed;
  bottom:5px;
  right:10px;	
}
.scroll {
  position:absolute;
  right:15px;
  bottom:10px;
  background:#b2b2b2;
  background:rgba(178,178,178,0.7);
  padding:15px;
  border-radius: 6px;
  text-align: center;
  margin: 0 0 0 0;
  cursor:pointer;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s; 		
}
.scroll:hover {
  background:rgba(178,178,178,1.0);
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s; 		
}
.scroll:hover .fa {
  padding-top:-10px;
}
.scroll .fa {
  font-size:30px;
  margin-top:-5px;
  margin-left:1px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s; 	
}