/* You can add global styles to this file, and also import other style files */

body{
    background-image:url("./assets/images/backcover.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}

@media screen and (max-width: 480px) {
    body{
        background-color: antiquewhite;
        background-image: none;
    }
} 