<div class="container">
  <h3 class="text-center">Next 5 days weather of <b>{{" "+cityname}}</b></h3>
  <hr><br>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" border="1" class="table table-hover table-condensed">
        <thead >
          <tr>
           <th>#</th> <th>Date</th><th>Weather</th><th>Temporature</th><th>Min_temp</th><th>Pressure</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of fiveDayWeather; let i = index">
            <td>{{i + 1}}</td>
            <td>{{item.dt_txt | dateTimeFormatFilter : 'lll'}}</td>
            <td>{{item.weather[0].description}}</td>
            <td>{{item.main.temp - 273.15 | number: '1.0-0'}}{{" °C"}}</td>
            <td>{{item.main.temp_min - 273.15 | number: '1.0-0'}}{{" °C"}}</td>
            <td>{{item.main.pressure}}</td>
          </tr>
        </tbody>
    </table>
</div>
