<div class="container">
    <table border="1" class="table table-hover table-condensed">
        <thead >
          <tr>
            <th>Date</th><th>Weather</th><th>Temporature</th><th>Min_temp</th><th>Pressure</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of detail2">
          <tr *ngFor="let d_items of c_items.list">
            <td>{{d_items.dt_txt}}</td><td>{{d_items.weather[0].description}}</td>
            <td>{{d_items.main.temp}}</td><td>{{d_items.main.temp_min}}</td>
            <td>{{d_items.main.pressure}}</td>
          </tr>
        </tbody>
    </table>
</div>
